<h2 id="title">Ember Parse</h2>

{{#if isAuthenticated}}
  <a href="#" {{action "logout"}}>Logout</a>
  <br><br><br>
  <form {{action "resetPassword" on="submit"}}>
    {{input type="text" value=username placeholder="email"}}
    <button type="submit">Reset password</button>
  </form>
{{else}}
  {{#if loginError}}
    <p>
      {{loginError}}
    </p>
  {{/if}}

  <form {{action "login" on="submit"}}>
    {{input type="text" value=username placeholder="username"}}<br>
    {{input type="text" value=password placeholder="password"}}<br>
    <button type="submit">Login</button>
  </form>
  <button {{action "signup"}}>Sign up</button>
{{/if}}

<br><br><br>

<a href="#" {{action "createObject"}}>Create Object</a>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Category</th>
    <th>Friends</th>
    <th>Cars</th>
    <th>Actions</th>
  </tr>
  {{#each model as |thing|}}
    <tr>
      <td>{{thing.id}}</td>
      <td>{{thing.name}}</td>
      <td>{{thing.category.name}}</td>
      <td>
        {{#each thing.friends as |friend|}}
          {{friend.name}} <a href="#" {{action 'removeFriend' thing friend}}>X</a><br>
        {{/each}}
      </td>
      <td>
        {{#each thing.cars as |car|}}
          {{car.name}} <a href="#" {{action 'updateCar' car}}>*</a><br>
        {{/each}}
      </td>
      <td>
        <a href="#" {{action "deleteObject" thing}} style="color:red">Delete</a>
        <a href="#" {{action "updateObject" thing}}>Update</a>
      </td>
    </tr>
  {{/each}}
  <tr>
    <td></td>
  </tr>
</table>
