<h2 id="title">Ember Parse</h2>

isAuthenticated: {{isAuthenticated}}<br>
<a href="#"{{action 'login'}}>Login</a> | <a href="#" {{action 'logout'}}>Logout</a>
<br><br><br>

<a href="#" {{action 'createObject'}}>Create Object</a>

<table>
  {{#each model as |thing|}}
    <tr>
      <td>{{thing.id}}</td>
      <td>{{thing.name}}</td>
      <td>
        <a href="#" {{action 'deleteObject' thing}} style="color:red">Delete</a>
      </td>
      <td>
        <a href="#" {{action 'updateObject' thing}}>Update</a>
      </td>
    </tr>
  {{/each}}
  <tr>
    <td></td>
  </tr>
</table>
